*
!*/
!*.c
!*.h
!*.hpp
!*.hxx
!*.cpp
!*.cc
!.gitignore
!.clang-format
!*.vcxproj
!*.filters
!*.sln
!*.ui
!*.qrc
!*.png
!*.svg
!*.gif
!*.jpg
!*.rc
!*.ico
!*.bat
!*.md
!*.js
!*.html
!*.aip
!*.mll
!*.mod
!*.py
!*.gup
!*.mui
!*.mll
!*.qss
!*.json
!*.lib
!*.dll
!*.docx
!*.doc
!*.xlsx
!*.pri
!*.pro
.vs
x64
log
enc_temp_folder